@import "tailwindcss";
@import "tailwindcss/theme" theme(inline reference);
/* @import "./typography.css" layer(utilities); */
@import "open-props/easings";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: light-dark(oklch(1 0 0), oklch(30.74% 0.0419 227.12));
  --color-foreground: light-dark(
    oklch(30.74% 0.0419 227.12),
    oklch(0.978 0.007 60)
  );
  --color-card: light-dark(oklch(1 0 0), oklch(30.74% 0.0419 227.12));
  --color-card-foreground: light-dark(
    oklch(30.74% 0.0419 227.12),
    oklch(0.978 0.007 60)
  );
  --color-popover: light-dark(oklch(1 0 0), oklch(30.74% 0.0419 227.12));
  --color-popover-foreground: light-dark(
    oklch(30.74% 0.0419 227.12),
    oklch(0.978 0.007 60)
  );
  --color-primary: light-dark(oklch(70% 0.1209 95.29), oklch(70% 0.1209 95.29));
  --color-primary-foreground: light-dark(
    oklch(0.341 0.133 26),
    oklch(0.341 0.133 26)
  );
  --color-secondary: light-dark(oklch(0.959 0.005 60), oklch(0.151 0.01 12));
  --color-secondary-foreground: light-dark(
    oklch(0.1 0.016 24),
    oklch(0.978 0.007 60)
  );
  --color-muted: light-dark(oklch(0.959 0.005 60), oklch(0.151 0.01 12));
  --color-muted-foreground: light-dark(
    oklch(0.447 0.009 25),
    oklch(0.639 0.009 24)
  );
  --color-accent: light-dark(oklch(0.959 0.005 60), oklch(0.151 0.01 12));
  --color-accent-foreground: light-dark(
    oklch(0.1 0.016 24),
    oklch(0.978 0.007 60)
  );
  --color-destructive: light-dark(oklch(0.602 0.135 0), oklch(0.306 0.101 0));
  --color-destructive-foreground: light-dark(
    oklch(0.978 0.007 60),
    oklch(0.978 0.007 60)
  );
  --color-border: light-dark(oklch(0.9 0.01 20), oklch(0.151 0.01 12));
  --color-input: light-dark(oklch(0.9 0.01 20), oklch(0.151 0.01 12));
  --color-ring: light-dark(oklch(30.74% 0.0419 227.12), oklch(0.978 0.007 60));
  --radius: 0.5rem;
  --color-chart-1: light-dark(oklch(0.61 0.122 12), oklch(0.5 0.112 220));
  --color-chart-2: light-dark(oklch(0.39 0.093 173), oklch(0.45 0.096 160));
  --color-chart-3: light-dark(oklch(0.24 0.059 197), oklch(0.55 0.128 30));
  --color-chart-4: light-dark(oklch(0.66 0.119 43), oklch(0.6 0.104 280));
  --color-chart-5: light-dark(oklch(0.67 0.139 27), oklch(0.55 0.12 340));

  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  @keyframes roll-reveal {
    from {
      transform: rotate(12deg) scale(0);
      opacity: 0;
    }
    to {
      transform: rotate(0deg) scale(1);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-left {
    from {
      transform: translateX(20px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes slide-top {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  --animate-roll-reveal: 0.4s roll-reveal var(--ease-spring-2) backwards;
  --animate-fade-in: 0.4s fade-in ease-out backwards;
  --animate-slide-top: 0.3s slide-top ease-out backwards;
  --animate-slide-left: 0.3s slide-left ease-out backwards;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply relative flex flex-col;
    @apply bg-background text-foreground;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
