@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 100% 0 106.37;
    --foreground: 13.71% 0.036 258.53;
    --card: 100% 0 106.37;
    --card-foreground: 13.71% 0.036 258.53;
    --popover: 100% 0 106.37;
    --popover-foreground: 13.71% 0.036 258.53;
    --primary: oklch(20.79% 0.0399 265.73);
    --primary-foreground: 98.38% 0.0035 247.86;
    --secondary: 96.84% 0.0068 247.9;
    --secondary-foreground: oklch(20.79% 0.0399 265.73);
    --muted: 96.84% 0.0068 247.9;
    --muted-foreground: 55.47% 0.0407 257.44;
    --accent: 96.84% 0.0068 247.9;
    --accent-foreground: oklch(20.79% 0.0399 265.73);
    --destructive: 63.68% 0.2078 25.33;
    --destructive-foreground: 98.38% 0.0035 247.86;
    --border: 92.9% 0.0126 255.53;
    --input: 92.9% 0.0126 255.53;
    --ring: 13.71% 0.036 258.53;
    --radius: 0.5rem;
    --chart-1: 67.72% 0.1571 35.19;
    --chart-2: 63.09% 0.1013 183.49;
    --chart-3: 37.87% 0.044 225.54;
    --chart-4: 83.36% 0.1186 88.15;
    --chart-5: 78.34% 0.1261 58.75;
  }

  .dark {
    --background: 13.71% 0.036 258.53;
    --foreground: 98.38% 0.0035 247.86;
    --card: 13.71% 0.036 258.53;
    --card-foreground: 98.38% 0.0035 247.86;
    --popover: 13.71% 0.036 258.53;
    --popover-foreground: 98.38% 0.0035 247.86;
    --primary: 98.38% 0.0035 247.86;
    --primary-foreground: oklch(20.79% 0.0399 265.73);
    --secondary: 28% 0.0369 259.97;
    --secondary-foreground: 98.38% 0.0035 247.86;
    --muted: 28% 0.0369 259.97;
    --muted-foreground: 71.07% 0.0351 256.79;
    --accent: 28% 0.0369 259.97;
    --accent-foreground: 98.38% 0.0035 247.86;
    --destructive: 39.59% 0.1331 25.72;
    --destructive-foreground: 98.38% 0.0035 247.86;
    --border: 28% 0.0369 259.97;
    --input: 28% 0.0369 259.97;
    --ring: 86.88% 0.0198 252.85;
    --chart-1: 52.92% 0.1931 262.13;
    --chart-2: 69.83% 0.1337 165.46;
    --chart-3: 72.32% 0.15 60.63;
    --chart-4: 61.92% 0.2037 312.73;
    --chart-5: 61.23% 0.2093 6.39;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
